# Dependencies
node_modules/

# Build output
out/
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
.logs/
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Electron builder output
release/
